<section data-ng-controller="SettingsController">
<div class="wrapper wrapper-content" data-ng-controller="calculatorController">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>File upload</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#!/home">Home</a>
            </li>
            <li class="active">
                <strong>Calculators</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeIn">
<fieldset>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Margin Calculator</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
<div class="form-group">
  <form novalidate class="simple-form">
  <label>  Cases: </label> 
<input type="number" ng-model="margin.cases" / >
    <br>
  <label>   Case Quantity: </label>
<input type="number" ng-model="margin.caseqty" />
    <br>
    <br>
   <label>  Item Cost: </label>
<input type="number" ng-model="margin.itemcost" />
    <br>
   <label>  Item Retail: </label>
<input type="number" ng-model="margin.itemretail" />
    <br>
   <label>  Item Allowance: </label>
<input type="number" ng-model="margin.itemallow" />
    <br>
    <br>
    <b> Item Margin % =  {{((margin.itemretail-margin.itemallow-margin.itemcost)/margin.itemcost)*100 | number:1}} </b>
    <br>
    <b> Item Markup % = {{((margin.itemretail-margin.itemallow-margin.itemcost)/margin.itemretail)*100 | number:1}} </b>
    <br>
    <b>Gross Margin $ = {{(margin.itemretail-margin.itemallow-margin.itemcost)*margin.caseqty*margin.cases | number:0}}</b>
    <br>
    
    
    
 <input type="button" ng-click="reset()" value="Reset" />
 <!--     <input type="submit" ng-click="update(user)" value="Save" /> -->
  </form>
</div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
</div>

<div class="wrapper wrapper-content animated fadeIn">
<fieldset> 
   <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ROI Calculator</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
<div class="form-group">
  <form novalidate class="simple-form">
   <label> Promotion Expense: </label>
	<input type="number" ng-model="roi.promoExp" />
    <br>
   <label> Gross Sales: </label>
<input type="number" ng-model="roi.grossSales" />
    <br>
   <label> Total Costs: </label>
<input type="number" ng-model="roi.totalCost" />
    <br>
   <label> Overhead Allocation: </label>
<input type="number" ng-model="roi.overhead" />
    <br>
   <label> Incremental Costs: </label>
<input type="number" ng-model="roi.incCost" />
    <br>
    <br>
    <b> ROI % =  {{((roi.grossSales-roi.promoExp-roi.totalCost-roi.overhead-roi.incCost)/roi.promoExp)*100 | number:2}} </b>
    <br>    
    
    
 <input type="button" ng-click="reseta()" value="Reset" />
 <!--     <input type="submit" ng-click="update(user)" value="Save" /> -->
  </form>
</div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
</div>
</div>
