<section data-ng-controller="SettingsController">

    <div class="wrapper wrapper-content" data-ng-controller="itemController">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        {{helloText}}
                        {{testuser}}
                    </h1>
                    <small>
                        {{descriptionText}}
                        <br/>
                        MEAN.JS is open-source full-stack solution for MEAN (Mongo, Express, Angular, Node) applications: <a class="btn btn-primary btn-xs" href="http://meanjs.org" target="_blank">Learn more</a>
                    </small>
<div class="clearfix">
	<form ng-Submit="post()" >

		<textarea required class="form-control" maxlength="200" rows="3" placeholder="enter upc" ng-model="UPCnumber"></textarea>
		<input class="btn submit-btn pull-right" type="submit" value="submit" />
	</form>
</div>                    
<div id="item-list">
	<h4>Item List</h4>
		<div class="item" ng-repeat="item in items | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'"> 
			<p>{{item.UPC}}</p>
			<small class="pull-right">{{item.created_at | date:"h:mma 'on' MMM d, y"}}</small>
		</div>
</div>                    
                    
                </div>
            </div>
        </div>
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Table with data from $scope - <strong>(The angular way)</strong></h5>

    <div ibox-tools></div>
</div>
<div class="ibox-content">
    <table  class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
        <tr>
            <th>UPC</th>
            <th>Description</th>
            <th>Created By</th>
            <td>Deal ID</td>
	    <td>Deal Type</td>
	    <td>Account</td>
	    <td>Product_Group</td>
	    <td>Feature</td>
	    <td>Display_Level</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.UPC}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.created_by_name}}</td>
            <td>{{item.Deal_ID}}</td>
	    <td>{{item.Deal_Type}}</td>
	    <td>{{item.Account}}</td>
	    <td>{{item.Product_Group}}</td>
	    <td>{{item.Feature}}</td>
	    <td>{{item.Display_Level}}</td>
            
            
        </tr>
        </tbody>
    </table>


</div>
</div>
</div>
</div>        
        
    </div>
