<section data-ng-controller="SettingsController">

    <div class="wrapper wrapper-content" data-ng-controller="promoController">
    	    <div class="col-lg-10">
        <h6> </h6>
        <ol class="breadcrumb">
            <li>
                <a href="/#!/home">Home</a>
            </li>
            <li class="active">
                <strong>Promo List</strong>
            </li>
        </ol>
    </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        {{helloText}}
                        {{testuser}}
                    </h1>
                    <small>
                        {{descriptionText}}
                        <br/>
                        MEAN.JS is open-source full-stack solution for MEAN (Mongo, Express, Angular, Node) applications: <a class="btn btn-primary btn-xs" href="http://meanjs.org" target="_blank">Learn more</a>
                    </small>
<div class="clearfix">
	<form ng-Submit="post()" >

		<textarea required class="form-control" maxlength="200" rows="3" placeholder="enter deal id" ng-model="Deal_ID"></textarea>
		<input class="btn submit-btn pull-right" type="submit" value="submit" />
	</form>
</div>                    
<div id="promo-list">
	<h4>Item List</h4>
		<div class="promo" ng-repeat="promo in promos | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'"> 
			<p>{{promo.UPC}}</p>
			<small class="pull-right">{{promo.created_at | date:"h:mma 'on' MMM d, y"}}</small>
		</div>
</div>                    
                    
                </div>
            </div>
        </div>
    </div>
