<fieldset>
    <h2>Account Information</h2>

    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <label>UPC</label>
                <input id="UPC" ng-model="newItem.UPC" name="UPC" type="number" class="form-control">
          
            </div>
            <div class="form-group">
                <label>Description</label>
                <input id="Description" ng-model="newItem.Description" name="Description" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Product Group</label>
                <select id="Product_Group" name="Product_Group" ng-model="newItem.Product_Group" class="form-control required" >
                    <option value="Goldfish">Goldfish</option>
                      <option value="Savory Crackers">Savory Crackers</option>
                      <option value="Sweet Crackers">Sweet Crackers</option>
                      <option value="Cookies">Cookies</option>
                </select>
            </div>
        <div class="col-lg-4">
           
            <div class="form-group">
                <label>Unit Size</label>
                <input id="Unit_Size" ng-model="newItem.Unit_Size" name="Unit_Size" type="number" class="form-control">
            </div>            
            <div class="form-group">
                <label>Unit Measure</label>
                <select id="Unit_Measure" name="Unit_Measure" ng-model="newItem.Unit_Measure" class="form-control required" >
                    <option value="OZ">OZ</option>
                      <option value="LBS">LBS</option>
                      <option value="g">g</option>
                      <option value="ky">kg</option>
                </select>
            </div>                
            
        </div>    
            <div class="form-group">
                <label>Case Units</label>
                <input id="Case_Units" ng-model="newItem.Case_Units" name="Case_Units" type="number" class="form-control">
            </div>            


        </div>

    </div>
    <a ui-sref="itemformswizard.step_two" class="btn btn-primary">Next</a>
</fieldset>
