<fieldset>
    <h2>Financial and Duration</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Normal Retail</label>
                <input id="Normal_Retail" ng-model="newPromo.Normal_Retail" name="Normal_Retail" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Promo Price</label>
                <input id="Promo_Price" name="Promo_Price" ng-model="newPromo.Promo_Price" type="number" class="form-control required">
            </div>
            <div class="form-group">
                <label>Allowance Type</label>
                <select id="Allowance_Type" name="Allowance_Type" ng-model="newPromo.Allowance_Type" class="form-control required" >
                      <option value="Scan">Scan</option>
                      <option value="Off Invoice">Off Invoice</option>
                      <option value="Coupon">Coupon</option>
                      <option value="Bill Back">Bill Back</option>
                </select>
            </div>
            <div class="form-group">
                <label>Retailer Margin</label>
                <input id="Retailer_Margin" name="Retailer_Margin" ng-model="newPromo.Retailer_Margin" type="number" class="form-control required">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Start Date</label>
                <input id="Start_Date" name="Start_Date" type="date" ng-model="newPromo.Start_Date" class="form-control required">
            </div>
            <div class="form-group">
                <label>End Date</label>
                <input id="End_Date" name="End_Date" type="date" ng-model="newPromo.End_Date" class="form-control required">
            </div>
        </div>
    </div>
    <a ui-sref="promoformswizard.step_one" class="btn btn-default">Previous</a>
    <a ui-sref="promoformswizard.step_three" class="btn btn-primary">Next</a>
</fieldset>
