<fieldset>
    <h2>Allocation</h2>
    <input id="Allocation" name="Allocation" type="radio" ng-model="newPromo.Allocation" value="true"> <label for="Allocation">Yes</label>
    <input id="Allocation" name="Allocation" type="radio" ng-model="newPromo.Allocation" value="false" checked> <label for="Allocation">No</label>


</fieldset>
<fieldset class="m-t-md">
    <a ui-sref="promoformswizard.step_two" class="btn btn-default">Previous</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</fieldset>
