<fieldset>
    <h2>Account Information</h2>

    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <label>Deal ID</label>
                <input id="Deal_ID" ng-model="newPromo.Deal_ID" name="Deal_ID" type="text" class="form-control">
               <!-- this goes in input ng-minlength="8" <p ng-show="signupForm.username.$error.minlength" class="help-block">Example of validation - Username is too short (min 8 signs)</p> -->
          
            </div>
            <div class="form-group">
                <label>Deal Type</label>
                <input id="Deal_Type" ng-model="newPromo.Deal_Type" name="Deal_Type" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Account</label>
                <select id="Account" name="Account" ng-model="newPromo.Account" class="form-control required" >
                    <option value="Safeway">Safeway</option>
                      <option value="Raleys">Raleys</option>
                      <option value="Whole Foods">Whole Foods</option>
                </select>
                
            </div>
        </div>
     <!--   <div class="col-lg-4">
            <div class="text-center">
                <div style="margin-top: 20px">
                    <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                </div>
            </div>
        </div> -->
    </div>
    <a ui-sref="promoformswizard.step_two" class="btn btn-primary">Next</a>
</fieldset>
